# LaTeX
*.fdb_latexmk
*.fls
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.synctex.gz
hr-paper.bcf
hr-paper.run.xml
hr-paper.pdf
hr-paper.ps
hr-paper.out
